name: 'Cargo CI'
on: push

jobs:
  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get update &&\
          sudo apt-get install libusb-1.0-0-dev -y
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c #v1.15.2
        with:
          components: clippy
      - uses: clechasseur/rs-clippy-check@v5
  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c #v1.15.2
      - run: cargo test
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
    - uses: EmbarkStudios/cargo-deny-action@76cd80eb775d7bbbd2d80292136d74d39e1b4918 #v2.0.14
      with:
        command: check bans licenses sources
